.Head{
  color: red;
  text-align: center;
  background-color: green;
  padding-left: 500px;
}
.Ok {
  background-color: #1de723;
  border: none;
  color: white;
  padding-right: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin-right: 4px;
  cursor: pointer;
}